<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Carusel Description</title>
</head>

<body>
    <div th:fragment="mediaCarousel (medias,active)" class="media-carousel" th:if="${medias.size() > 0}">
        <div class="left-control control" th:if="${medias.size() > 1}">
            <i class="fas fa-angle-double-left"></i>
        </div>
        <div class="right-control control" th:if="${medias.size() > 1}">
            <i class="fas fa-angle-double-right"></i>
        </div>
        <div class="crop parent-container">
			<div class="img-container crop" th:classappend="${i.index == active}?'active-img'"
				th:each="media,i : ${medias}">
				<img th:src="@{|/media/${media.id}/file|}" th:attr="srcset=${@mediaCarousel.generateSrcSet(media)}" th:if="${media.mimeType.startsWith('image/')}">
				<video controls th:src="@{|/media/${media.id}/file|}" th:if="${media.mimeType.startsWith('video/')}"></video>

				<a th:href="@{|/media/${media.id}/file|}" th:download="${media.fileName}"><i
						class="fas fa-download download-btn"></i></a>
			</div>
        </div>
		<a th:if="${medias.size() > 0}" class="download-link" th:href="@{|/media/${medias[0].id}/file|}" th:download="${medias[0].fileName}"><i
				class="fas fa-download download-btn"></i></a>
    </div>
</body>

</html>